<header class="nav">
	<nav class="wrapper repel">
		<div class="nav__header">
			<h1>
				<a routerLink="/">
					<span class="vh">Trakto</span>
					<i class="trakto-edu-icon"></i>
				</a>
			</h1>

			<ng-content select=".back-button"></ng-content>
		</div>
		<div class="nav__actions">
			<span class="nav__date">
				<i class="calendar-icon"></i>
				<time> {{ today$ | async | date:'dd/MM/yyyy' }}</time>
			</span>
			<trakto-dropdown>
				<button
					traktoDropdownButton
					class="button"
					data-variation="icon"
				>
					<span class="vh">Notificações</span>
					<i class="notification-icon"></i>
				</button>
				<div class="notifications-dropdown" traktoDropdownContent>
					<span class="dropdown-option">
						Você não possui nenhuma notificação
					</span>
				</div>
			</trakto-dropdown>

			<trakto-dropdown>
				<button class="nav__avatar" traktoDropdownButton>
					<img class="avatar" src="assets/avatar.png" alt="" />
					<i class="caret-down-icon"></i>
				</button>
				<div class="user-config-dropdown" traktoDropdownContent>
					<a routerLink="/logout" class="dropdown-option">
						Sair da conta
					</a>
				</div>
			</trakto-dropdown>
		</div>
	</nav>
</header>
<main>
	<ng-content></ng-content>
</main>
