<header class="nav">
	<nav class="wrapper repel">
		<h1>
			<a routerLink="/">
				<span class="vh">Trakto</span>
				<i class="trakto-edu-icon"></i>
			</a>
		</h1>
		<div class="nav__actions">
			<span class="nav__date">
				<i class="calendar-icon"></i>
				<time> 20/04/2023</time>
			</span>
			<button type="button" class="button" data-variation="icon">
				<span class="vh">Notificações</span>
				<i class="notification-icon"></i>
			</button>
			<trakto-dropdown> </trakto-dropdown>
		</div>
	</nav>
</header>
<main>
	<ng-content></ng-content>
</main>
