<header class="nav">
	<nav class="wrapper repel">
		<h1>
			<a routerLink="/">
				<span class="vh">Trakto</span>
				<i class="trakto-edu-icon"></i>
			</a>
		</h1>
		<div class="nav__actions">
			<span class="nav__date">
				<i class="calendar-icon"></i>
				<time> {{ today$ | async | date:'dd/MM/yyyy' }}</time>
			</span>
			<trakto-dropdown>
				<button
					traktoDropdownButton
					class="button"
					data-variation="icon"
				>
					<span class="vh">Notificações</span>
					<i class="notification-icon"></i>
				</button>
				<div traktoDropdownContent class="bg-color-neutral-white">
					this is my content
				</div>
			</trakto-dropdown>

			<trakto-dropdown>
				<button class="nav__avatar" traktoDropdownButton>
					<img class="avatar" src="assets/avatar.png" alt="" />
					<i class="caret-down-icon"></i>
				</button>
				<div traktoDropdownContent class="bg-color-neutral-white">
					this is my content
				</div>
			</trakto-dropdown>
		</div>
	</nav>
</header>
<main>
	<ng-content></ng-content>
</main>
