.input {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	&:focus-within {
		span {
			color: var(--color-brand-trakto);
		}
	}

	input {
		border: 1px solid transparent;
		height: 3rem;
		padding: 1rem;
		border-radius: 4px;
		background-color: var(--color-neutral-white);
		outline: 0;

		&:focus {
			border-color: var(--color-brand-trakto);
		}
	}

	input[aria-invalid='true']:not(:focus) {
		border-color: var(--color-neutral-red);
	}

	.error {
		position: absolute;
		bottom: 0;
		margin-top: 0.25rem;
	}
}
