.nav {
	padding: 0.9rem 0 0.8rem 0;
	background-color: var(--nav-bg-color, var(--color-neutral-white));
	color: var(--nav-fg-color, var(--color-neutral-cloudy));

	h1 {
		width: 12ch;
	}

	&__actions {
		display: flex;
		align-items: center;

		> * + * {
			margin-left: 2rem;

			display: flex;
			align-items: center;

			gap: 2rem;

			&::before {
				content: '';
				display: block;
				height: 1.5rem;
				width: 1px;
				background-color: currentColor;
			}
		}
	}

	&__date {
		display: flex;
		align-items: center;
		gap: var(--gutter, 0.5rem);

		i {
			width: 1.5rem;
			height: 1.4rem;
		}
	}

	&__avatar {
		display: flex;
		align-items: center;
		cursor: pointer;

		i {
			width: 0.5rem;
			margin-left: 8px;
		}
	}
}
