.pill {
	display: inline-block;
	background-color: var(--pill-bg);
	padding: 4px 8px;
	border-radius: 2rem;
	height: fit-content;

	&[data-variation='light'] {
		--pill-bg: var(--color-neutral-light);
	}

	&[data-variation='cloudy'] {
		--pill-bg: var(--color-neutral-transparent-dark);
	}
}
