:host {
	display: block;

	h1 {
		width: 10ch;
	}

	h2 {
		margin-top: 2.1rem;
	}

	main {
		min-height: 100vh;
		display: flex;

		justify-content: center;
		align-items: center;
	}

	form {
		margin-top: 1.5rem;
	}

	.flow > * + * {
		margin-top: 1.7rem;
	}

	button {
		// removes padding left and right from width size
		width: calc(100% - 3rem);
	}
}
