:host {
	--main-bg-color: var(--color-neutral-darker);

	section {
		min-height: calc(100vh - 5.3rem);

		display: flex;
		justify-content: center;
		align-items: center;

		.grid {
			width: 100%;
		}
	}
}
