:host {
	// logo color
	--fill-color: var(--color-neutral-darkest);

	trakto-carousel {
		display: flex;
		min-height: 15.25rem;
		gap: 2rem;
		overflow-x: hidden;
	}

	.wrapper {
		min-height: calc(100vh - 5.3rem);
		padding-bottom: 3rem;
	}

	.flow {
		padding-top: 3.3rem;
	}

	.flow > * + * {
		margin-top: 3.3rem;
	}
}
