<trakto-layout data-variation="light">
	<section class="wrapper flow">
		<img src="assets/main-banner.jpg" alt="" />
		<section class="content-list bg-color-neutral-white">
			<div class="content-list__heading">
				<div class="content-list__header">
					<span class="pill" data-variation="light">
						Semana 06/02 até 28/02
					</span>
					<div class="carousel-buttons">
						<button
							class="button"
							data-variation="icon"
							traktoCarouselPrevious
							#materialPrevious
						>
							<span class="vh">Mostrar conteúdos anteriores</span>
							<i class="caret-left-icon"></i>
						</button>
						<button
							class="button"
							data-variation="icon"
							traktoCarouselNext
							#materialNext
						>
							<span class="vh">Mostrar próximos conteúdos</span>
							<i class="caret-right-icon"></i>
						</button>
					</div>
				</div>

				<a
					class="button color-brand-trakto-app"
					data-variation="outline"
					routerLink="/material-didatico/all"
				>
					Ver todo conteúdo
				</a>
			</div>

			<h2>Material didático</h2>
			<p class="details">Acesse suas últimas apresentações de aula.</p>
			<trakto-carousel
				[carrouselNext]="materialNext"
				[carouselPrevious]="materialPrevious"
			>
				<trakto-carousel-item
					*ngIf="(state$ | async)?.loading"
					class="card color-neutral-cloudy"
					data-variant="no-content"
				>
					<span> Carregando ... </span>
				</trakto-carousel-item>
				<trakto-carousel-item
					class="card"
					*ngFor="let design of designList$ | async"
				>
					<a
						class="card color-neutral-dark"
						[href]="design.editorLink | sanitizeUrl"
						target="_blank"
					>
						<div class="card__image">
							<img
								[src]="design?.cover?.low"
								alt=""
								loading="lazy"
								width="308"
								height="171"
							/>
							<span
								class="pill color-neutral-white"
								data-variation="cloudy"
								*ngIf="design?.slidesCount"
							>
								{{ design.slidesCount }} Slides
							</span>
						</div>
						<span class="card__subtitle">{{ design.title }}</span>
					</a>
				</trakto-carousel-item>
				<trakto-carousel-item
					*ngIf="designNotFound$ | async"
					class="card color-neutral-cloudy"
					data-variant="no-content"
				>
					<span> Nenhum design encontrado </span>
				</trakto-carousel-item>
			</trakto-carousel>
		</section>

		<section class="content-list bg-color-neutral-white">
			<div class="content-list__heading">
				<div class="content-list__header">
					<span class="pill" data-variation="light">
						Semana 06/02 até 28/02
					</span>
					<div class="carousel-buttons">
						<button
							class="button"
							data-variation="icon"
							traktoCarouselPrevious
							#videoPrevious
						>
							<span class="vh">Mostrar vídeos anteriores</span>
							<i class="caret-left-icon"></i>
						</button>
						<button
							class="button"
							data-variation="icon"
							traktoCarouselNext
							#videoNext
						>
							<span class="vh">Mostrar próximos vídeos</span>
							<i class="caret-right-icon"></i>
						</button>
					</div>
				</div>
				<a
					class="button color-brand-trakto-youtube"
					data-variation="outline"
					href="https://www.youtube.com/@Trakto"
					target="_blank"
				>
					<i class="youtube-icon"></i>
					<span> Abrir no youtube </span>
				</a>
			</div>

			<h2>Vídeo aulas</h2>
			<p class="details">
				Complemente os estudos assistindo o conteúdo de forma dinâmica.
			</p>
			<trakto-carousel
				[carrouselNext]="videoNext"
				[carouselPrevious]="videoPrevious"
			>
				<trakto-carousel-item
					[attr.data-item]="i"
					class="card"
					*ngFor="let video of videoData$ | async; let i = index"
				>
					<a
						class="card color-neutral-dark"
						[href]="video.videoLink | sanitizeUrl"
						target="_blank"
					>
						<div class="card__image">
							<img [src]="video.cover" alt="" loading="lazy" />
						</div>
						<span class="vh">{{ video.title }}</span>
					</a>
				</trakto-carousel-item>
			</trakto-carousel>
		</section>
	</section>
</trakto-layout>
