@import 'scss/global/reset';
@import 'scss/global/variables';

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.1;
}

main {
	background-color: var(--main-bg-color, var(--color-background-light-blue));
}

trakto-layout {
	.dropdown-content {
		background-color: var(--nav-bg-color);
	}

	&[data-variation='light'] {
		--nav-bg-color: var(--color-neutral-white);
		--nav-fg-color: var(--color-neutral-cloudy);
	}

	&[data-variation='dark'] {
		--nav-bg-color: var(--color-background-dark);
		--nav-fg-color: var(--color-neutral-light);
	}
}

*:focus-visible {
	outline: 3px dotted currentColor;
	outline-offset: 3px;
}

// utilities
@import 'scss/utilities/colors';
@import 'scss/utilities/visually-hidden';
@import 'scss/utilities/wrapper';

// compositions
@import 'scss/compositions/repel';
@import 'scss/compositions/grid';

// building blocks
@import 'scss/blocks/button';
@import 'scss/blocks/input';
@import 'scss/blocks/avatar';
@import 'scss/blocks/pill';
@import 'scss/blocks/form-control';
@import 'scss/blocks/toastr';

// complex blocks
@import 'scss/blocks/nav';
@import 'scss/blocks/dropdown';
@import 'scss/blocks/carousel';
@import 'scss/blocks/content-list';
@import 'scss/blocks/module-card';
@import 'scss/blocks/notifications-dropdown';
